<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="lug-footer mt-5">
        <div class="container py-4 d-flex flex-column flex-md-row gap-3 justify-content-between align-items-center">
        <p class="m-0 text-secondary small">© <span id="year"></span> Level‑Up Gamer — Todos los derechos reservados</p>
        <div class="d-flex gap-3">
            <a href="#" class="text-secondary small">Términos</a>
            <a href="#" class="text-secondary small">Privacidad</a>
        </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/app/ui.js"></script>
</body>
</html>